@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 88
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  /* overflow: hidden; */
  /* font-size: 25px; */
   /* transition: all 0.5s; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #02b38c;
}

.kanban {
  display: flex;
  width: 85%;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.column {
  width: 33%;
  padding: 10px;
}

.cards {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  background-color: #fff;
  color: #000000b2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding:10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-actions button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.card-actions button.edit-card{
 color: #02774a;
}
.card-actions button.delete-card {
color: crimson;
}

.card-actions button:hover {
  color: red;
}
.add-card{
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #027e67;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.add-card:hover{
  background-color: rgb(16, 134, 95);
  transition: all .3s;
  transform:scale(1.02)
}